# My aliases

# Instalar pacotes
alias add='sudo pacman -S'
#Atualizar arch
alias up='sudo pacman -Syu'
#Pesquisar pacotes
alias pkg='pacman -Ss'
#Apagar pacote
alias del='sudo pacman -Rns'
#Atualiza db
alias dbu='sudo pacman -Syy'
#Abrir o zshrc
alias zshrc='$EDITOR ~/.zshrc && source ~/.zshrc'
#Abrir vkcube
alias vk='VK_INSTANCE_LAYERS=VK_LAYER_MESA_overlay vkcube'
#Abrir vkcube com mangohud
alias vk1='mangohud VK_INSTANCE_LAYERS=VK_LAYER_MESA_overlay vkcube'
#Atualizar mirrors
alias ref='sudo reflector --country Brazil --sort rate --protocol https,http --latest 5 --save /etc/pacman.d/mirrorlist'
#Instalar icon theme
alias icon1='sudo pacman -S papirus-icon-theme --noconfirm'
#Git pull
alias gp='git pull'
#Git clone
alias gc='git clone'
#Git push
alias gh='git push origin master'
#Git add
alias ga='git add'
#Mostra aliases
alias help='less ~/.aliases'
#Editar aliases
alias aliases='nvim ~/.aliases'
#Listar cache
alias cache='cd /var/cache/pacman/pkg && ls | wc -l && du -h'
#Systemd Analyze
alias sa='systemd-analyze'
#Analisar ram
alias ram='sudo dmidecode --type 17 | grep -i speed'
#Analisar ram
alias raminf='sudo dmidecode -t 17'
#Listar aur
alias aur='pacman -Qm'
#Abrir profanity
alias xmpp='profanity'
#Tamanho pendrive
alias ptam='df -h /dev/sdb1'
#Tamanho iso
alias iso='df -h /dev/sdb'
#Tamanho dir
alias atam='du -h'
#LSD
alias ls='lsd'
#Abrir zathura
alias pdf='zathura'
#Heimdall
alias recovery='sudo heimdall flash --RECOVERY'
#Listar processo
alias cpu="clear && ps -A --sort -rsz -o pid,comm,pmem,pcpu|awk 'NR<=20'"
#Atualizar grub
alias ug='sudo grub-mkconfig -o /boot/grub/grub.cfg'
#Abrir irssi
alias irc='irssi'
#alias irc='$HOME/Scripts/irc_down.sh'
#Listar fonts
alias fonts='clear && kitty list-fonts'
#Criar arquivo
alias t='touch'
#Python3
alias py='python3'
#Xprop
alias xp='xprop | grep WM_CLASS'
#Analisar HD
alias hd1='clear && sudo hdsentinel'
#Analisar HD
alias hd2='clear && sudo smartctl -a /dev/sda'
#Abrir bat
alias b='bat'
#Deletar vimb history
alias vimbdel='cd $HOME/.config/vimb && rm -rf closed command cookies.db history search && cd'
#PWD
alias ,,='pwd'
#Log pacman
alias ,="head -n1 /var/log/pacman.log"
#Analisar uso de disco
alias disks='clear && echo "╓───── d i s k . u s a g e"; echo "╙────────────────────────────────────── ─ ─ ";
 df -h;'
# Transmission
alias tsm="transmission-remote"
#Emojis
alias emojis="$EDITOR ~/.emojis"
#Youtube TUI
alias yt="yt -t"
#Cmus
alias musica="cmus"
#Unrar
alias winrar='unrar x "*.rar"'
#Unzip
alias zip='unzip "*.zip"'
#lsusb
alias usb='lsusb'
#Servidor minidlna
alias server='sudo minidlnad -R -d'
#Abrir game
alias jk='python3 $HOME/Scripts/Jokenpo/main.py'
#Exit terminal
alias q='exit'
#Rice
alias rice='clear && curl -L "https://git.io/rice"'
#Desligar conexão
alias downn='sudo ifconfig enp3s0 down'
#Ligar conexão
alias upp='sudo ifconfig enp3s0 up'
#Minec
alias m='minec'
#Kittyicat
alias kcat="kitty +kitten icat"
#Free
alias free='free -h'
#Clear
alias c='clear'
#Mpd e ncmpcpp
alias music='mpd && ncmpcpp'
#Matar mpd
alias s='killall mpd'
#Atualizar AUR
alias am='aur_make'
#Dezeer TUI
alias dz='deeztui'
#LA
alias la='ls -lha'
#Less
alias l='less'
#Weather
alias weather="curl wttr.in/serra-branca"
#Kitty instance
alias k="kitty . &"
#Scripts zsh
alias scr='nvim $HOME/.scripts'
#Starship
alias sts='curl -fsSL https://starship.rs/install.sh | sh'
#Set timezone dualboot windows
alias win='timedatectl set-local-rtc 1'
#Downloader
alias downl='downloader'
#Apagar videos
alias delv='rm -rf $HOME/Videos/*'
#Radio
alias radio='radionix'
#Subir userbot
alias bot='cd $HOME/Franks/UserBot/Kanna-X && ./run'
#Permissão userbot
alias rs='cd $HOME/Franks/UserBot/Kanna-X && chmod +x run && chmod +x start.sh'
#Ssh connect
alias sc='$HOME/Scripts/ssh-connect.sh'
#Config mpd
alias mc='$HOME/Scripts/mpdconf.sh'
#Baixar videos do yt
alias ytd='$HOME/Scripts/ytdown.sh'
#Video resize
#alias resize='$HOME/Scripts/videoresize-gui.sh'
#Criar snapshot
alias snapshot='sudo $HOME/Scripts/pacman-snapshot'
#Pastebin
alias pasters='$HOME/Scripts/paste.sh'
#Pipes
alias pipes='$HOME/Scripts/pipes.sh'
#Gera senhas
alias pass='$HOME/Scripts/senha.sh'
#Gerar email
alias email='python3 $HOME/Scripts/email_generator.py'
#Gerar senhas
#alias senha='python3 $HOME/Scripts/gerador_de_senhas.py'
#Gerar senhas
alias senha='python3 $HOME/Scripts/pass.py'
#Gerar url
alias url='python3 $HOME/Scripts/short_url.py'
#Number extensivo
alias number='python3 $HOME/Scripts/number_extensible.py'
#Gerar qrcode
alias qr='python3 $HOME/Scripts/qrcode.py'
#Qemu Install
alias qi='$HOME/Scripts/qemu_install.sh'
#Binds i3
alias binds='python3 $HOME/Scripts/i3keybinds.py'
#Fetch2
alias fetch2='python3 $HOME/Scripts/sysinfo.py'
#MPV-QUALITY
alias mq='mpv_quality'
#ppfetch
alias pf='clear && ppfetch'
#Baixar videos
alias ytm='$HOME/Scripts/ytm.sh'
#Cotação
alias cota='python3 $HOME/Scripts/cota.py'
#Bitcoin
alias btc='python3 $HOME/Scripts/btc.py'
#oh my aliases
alias alc="ohmyalias -c"
#alias remove
alias alr="ohmyalias -r"
#tox chat
alias tox="toxic"
#Script vid
alias vid="~/Scripts/vid"
#Check Onion Links
alias co="nvim ~/.projects/Check_Onion_Links/onion.links"
#Script Check Onion
alias sco="~/.projects/Check_Onion_Links/check_onion.sh"
#Cmatrix
alias cm="cmatrix"
#Podscats Script
alias pod="podcasts"
#Tetris Game
alias tetris="tetriscurses"
#Makepkg
alias mk="clear && makepkg -sic"
#Delete Paste Telegram
alias delt="rm -rf ~/Downloads/Telegram\ Desktop"
#Listar pacotes
alias pkgl="pacman -Qq | wc -l"
#Listando erros
alias sf="systemctl --failed"
#w3m
#alias img="w3m"
#img
alias img="sxiv *"
#Tetris game
alias tetris="tetriscurses"
#Wallpapers Download
alias walld="~/Scripts/walld.sh"
#Dolar cota
alias dolar1="python3 ~/Franks/Python/dolar.py"
#p10k Configure
alias p="p10k configure"
#Source
alias ...="source"
#Deactivate
alias d="deactivate"
#Python Env
alias pyenv="~/Scripts/pyvenv.sh"
#Systemctl status
alias status="systemctl status"
#Systemctl restart
alias restart="systemctl restart"
#Systemctl enable
alias on="systemctl enable"
#Type
alias ty="type"
#Podman TUI
alias podm="~/Scripts/pod.sh"
#Bin
alias bin="cd ~/.local/bin"
#Code
alias codee="codando"
#Listando tarefas
alias tls="cat ~/Documents/.todo.txt"
#htop
alias h="htop"
#reboot
alias rb="reboot"
#stop daemon
alias stop="systemctl stop"
#ClamScan Clamav
alias scan="clamscan"
#List subvolumes
alias list="sudo btrfs subvolume list /"
#Tamanho dos devices
alias tam="df -hT"
#Logs
alias logs="journalctl --vacuum-time=1w"
#Epic Games
alias epic="epicgames"
#Keys ArchLinux
alias keys="sudo pacman-key --populate archlinux && sudo pacman -Syu"
#Listar conteudos
alias ll="ls -1"
