# My aliases
  alias add='sudo pacman -S'
  alias up='sudo pacman -Syu'
  alias pkg='pacman -Ss'
  alias del='sudo pacman -Rns'
  alias dbu='sudo pacman -Syy'
  alias zshrc='$EDITOR ~/.zshrc && source ~/.zshrc'
  alias vk='VK_INSTANCE_LAYERS=VK_LAYER_MESA_overlay vkcube'
  alias vk1='mangohud VK_INSTANCE_LAYERS=VK_LAYER_MESA_overlay vkcube'
  #alias ref='sudo reflector -n 5 --save /etc/pacman.d/mirrorlist'
  alias icon1='sudo pacman -S papirus-icon-theme --noconfirm'
  alias gp='git pull'
  alias gc='git clone'
  alias gh='git push origin master'
  alias ga='git add'
  alias help='less ~/.aliases'
  alias aliases='nvim ~/.aliases'
  alias cache='cd /var/cache/pacman/pkg && ls | wc -l && du -h'
  alias sa='systemd-analyze'
  alias ram='sudo dmidecode --type 17 | grep -i speed'
  alias raminf='sudo dmidecode -t 17'
  alias aur='pacman -Qm'
  alias ptam='df -h /dev/sdb1'
  alias iso='df -h /dev/sdb'
  alias atam='du -h'
  alias ls='lsd'
  alias pdf='zathura'
  alias recovery='sudo heimdall flash --RECOVERY'
  alias cpu="clear && ps -A --sort -rsz -o pid,comm,pmem,pcpu|awk 'NR<=20'"
  alias ug='sudo grub-mkconfig -o /boot/grub/grub.cfg'
  #alias irc='irssi'
  alias irc='$HOME/Scripts/irc_down.sh'
  alias fonts='clear && kitty list-fonts'
  alias t='touch'
  alias py3='python'
  alias xp='xprop | grep WM_CLASS'
  alias hd1='clear && sudo hdsentinel'
  alias hd2='clear && sudo smartctl -a /dev/sda'
  alias b='bat'
  alias vimbdel='cd $HOME/.config/vimb && rm -rf closed command cookies.db history search && cd'
  alias ,,='pwd'
  alias ,="head -n1 /var/log/pacman.log"
  alias disks='clear && echo "╓───── d i s k . u s a g e"; echo "╙────────────────────────────────────── ─ ─ ";
 df -h;'
 alias tsm="transmission-remote"
 alias emojis="$EDITOR ~/.emojis"
 alias yt="yt -t"
 alias musica="cmus"
 alias winrar='unrar x "*.rar"'
 alias zip='unzip "*.zip"'
 alias usb='lsusb'
 alias server='sudo minidlnad -R -d'
 alias jk='python3 $HOME/Scripts/Jokenpo/main.py'
 alias q='exit'
 alias rice='clear && curl -L "https://git.io/rice"'
 alias downn='sudo ifconfig enp3s0 down'
 alias upp='sudo ifconfig enp3s0 up'
 alias m='minec'
 alias kcat="kitty +kitten icat"
 alias free='free -h'
 alias c='clear'
 alias music='mpd && ncmpcpp'
 alias s='killall mpd'
 alias am='aur_make'
 alias dz='deeztui'
 alias la='ls -lha'
 alias l='less'
 alias weather="curl wttr.in/serra-branca"
 alias k="kitty . &"
 alias scr='nvim $HOME/.scripts'

# Aliase scripts
  alias bot='cd $HOME/Franks/UserBot/Kanna-X && ./run'
  alias rs='cd $HOME/Franks/UserBot/Kanna-X && chmod +x run && chmod +x start.sh'
  alias sc='$HOME/Scripts/ssh-connect.sh'
  alias mc='$HOME/Scripts/mpdconf.sh'
  alias ytd='$HOME/Scripts/ytdown.sh'
  alias resize='$HOME/Scripts/videoresize-gui.sh'
  alias snapshot='sudo $HOME/Scripts/pacman-snapshot'
  alias swapf="sudo $HOME/Scripts/./swapf.sh"
  alias pasters='$HOME/Scripts/paste.sh'
  alias pipes='$HOME/Scripts/pipes.sh'
  alias pass='$HOME/Scripts/senha.sh'
  alias email='python3 $HOME/Scripts/email_generator.py'
  alias senha='python3 $HOME/Scripts/gerador_de_senhas.py'
  alias url='python3 $HOME/Scripts/short_url.py'
  alias qr='python3 $HOME/Scripts/qrcode.py'
  alias qi='$HOME/Scripts/qemu_install.sh'
  alias binds='python3 $HOME/Scripts/i3keybinds.py'
  alias fetch2='python3 $HOME/Scripts/sysinfo.py'
  alias mq='$HOME/Scripts/mpv-quality.sh'
