# My aliases
  alias up='sudo pacman -Syu'
  alias zshrc='$EDITOR ~/.zshrc && source ~/.zshrc'
  alias vk='VK_INSTANCE_LAYERS=VK_LAYER_MESA_overlay vkcube'
  alias ref='sudo reflector -n 5 --save /etc/pacman.d/mirrorlist'
  alias icon1='sudo pacman -S papirus-icon-theme --noconfirm'
  alias gp='git pull'
  alias gc='git clone'
  alias gh='git push origin master'
  alias ga='git add'
  alias help='cat ~/.aliases'
  alias aliases='nvim ~/.aliases'
  alias cache='cd /var/cache/pacman/pkg && ls | wc -l && du -h'
  alias sa='systemd-analyze'
  alias ram='sudo dmidecode --type 17 | grep -i speed'
  alias raminf='sudo dmidecode -t 17'
  alias aur='pacman -Qm'
  alias ptam='df -h /dev/sdb1'
  alias iso='df -h /dev/sdb'
  alias atam='du -h'
  alias ls='lsd'
  alias pdf='zathura'
  alias recovery='sudo heimdall flash --RECOVERY'
  alias cpu="clear && ps -A --sort -rsz -o pid,comm,pmem,pcpu|awk 'NR<=20'"
  alias ug='sudo grub-mkconfig -o /boot/grub/grub.cfg'
  alias irc='irssi'
  alias fonts='clear && kitty list-fonts'
  alias t='touch'
  alias py3='python'
  alias xp='xprop | grep WM_CLASS'
  alias hd1='clear && sudo hdsentinel'
  alias hd2='clear && sudo smartctl -a /dev/sda'
  alias b='bat'
  alias vimbdel='cd $HOME/.config/vimb && rm -rf closed command cookies.db history search && cd'
  alias ,,='pwd'
  alias ,="head -n1 /var/log/pacman.log"
  alias disks='clear && echo "╓───── d i s k . u s a g e"; echo "╙────────────────────────────────────── ─ ─ ";
 df -h;'
 alias tsm="transmission-remote"
 alias url="python3 $HOME/Franks/Python/short_url.py"
 alias qrcode="python3 $HOME/Franks/Python/qrcode.py"
 alias swapf="sudo $HOME/Scripts/Shell_Scripts./swapf"

# Aliase scripts
  alias paste.rs='$HOME/Scripts/paste.sh'
  alias celular='$HOME/Scripts/mount-mobile.sh'
